<li>Desserts<ul><li>Cakes<ul><li><a href='/recipe?recipe=Desserts/Cakes/choccake'>Chocolate Cake</a></li>
<li><a href='/recipe?recipe=Desserts/Cakes/lemonspongecake'>Lemon Sponge Cake</a></li>
</ul></li><li><a href='/recipe?recipe=Desserts/brownies'>Brownies</a></li>
<li><a href='/recipe?recipe=Desserts/chocpots'>Chocolate Pots</a></li>
<li><a href='/recipe?recipe=Desserts/orangeshortbread'>Orange Shortbread</a></li>
<li><a href='/recipe?recipe=Desserts/waffles'>Waffles</a></li>
</ul></li><li>Dinners<ul><li>Pasta<ul><li><a href='/recipe?recipe=Dinners/Pasta/carbonara'>Spaghetti Carbonara</a></li>
<li><a href='/recipe?recipe=Dinners/Pasta/cheesypasta'>Cheesy Pasta</a></li>
<li><a href='/recipe?recipe=Dinners/Pasta/spagbol'>Spaghetti Bolognese</a></li>
<li><a href='/recipe?recipe=Dinners/Pasta/tomatopasta'>Tomato Sauce Pasta</a></li>
</ul></li><li><a href='/recipe?recipe=Dinners/chickenchowmein'>Chicken Chow Mein</a></li>
<li><a href='/recipe?recipe=Dinners/chickentikkamasala'>Chicken Tikka Masala</a></li>
<li><a href='/recipe?recipe=Dinners/chilli'>Chilli</a></li>
<li><a href='/recipe?recipe=Dinners/chillispag'>Spaghetti Bolognese and Chilli</a></li>
<li><a href='/recipe?recipe=Dinners/fishcakes'>Fish Cakes</a></li>
<li><a href='/recipe?recipe=Dinners/pancakes'>Pancakes</a></li>
<li><a href='/recipe?recipe=Dinners/pizza'>Pizza</a></li>
<li><a href='/recipe?recipe=Dinners/prawnchowmein'>Prawn Chow Mein</a></li>
<li><a href='/recipe?recipe=Dinners/sausmashpeas'>Sausage, Mash and Peas</a></li>
</ul></li><li>Other<ul><li><a href='/recipe?recipe=Other/eggybread'>Eggy Bread</a></li>
<li><a href='/recipe?recipe=Other/whitebread'>White Bread Loaf or Rolls</a></li>
</ul></li>